.change-password-popup {
  display: flex;
  flex-direction: row;
}

.change-password-popup .column {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 0%;
  justify-content: center;
}

.change-password-popup .person-icon {
  position: absolute;
  width: 173px;
  height: 173px;
  top: 100px;
  left: 75px;
}

.change-password-popup .name {
  position: absolute;
  width: 234px;
  height: 53px;
  left: 45px;
  top: 250px;
  font-family: "Poppins", "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #2C8273;
}

.change-password-popup .column-right {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
  justify-content: space-between;
}

.change-password-popup .flex-container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.change-password-popup .email {
  position: absolute;
  width: 103px;
  height: 33px;
  left: 325px;
  top: 125px;
  font-family: "Poppins", "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.change-password-popup .input1 {
  position: absolute;
  width: 250px;
  height: 48px;
  left: 500px;
  top: 125px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.change-password-popup .flex-container2 {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.change-password-popup .password {
  position: absolute;
  width: 150px;
  height: 33px;
  left: 325px;
  top: 200px;
  font-family: "Poppins", "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.change-password-popup .input2 {
  position: absolute;
  width: 250px;
  height: 48px;
  left: 500px;
  top: 200px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
