.confirm-password-popup {
    display: flex;
    flex-direction: row;
  }
  
  .confirm-password-popup .column {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 0%;
    justify-content: center;
  }
  
  .confirm-password-popup .person-icon {
    position: absolute;
    width: 173px;
    height: 173px;
    top: 150px;
    left: 75px;
  }
  
  .confirm-password-popup .name {
    position: absolute;
    width: 234px;
    height: 53px;
    left: 45px;
    top: 300px;
    font-family: "Poppins", "Helvetica";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #2C8273;
  }
  
  .confirm-password-popup .column-right {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    justify-content: space-between;
  }
  
  .confirm-password-popup .flex-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
  }

  .confirm-password-popup .email {
    position: absolute;
    width: 150px;
    height: 33px;
    left: 325px;
    top: 125px;
    font-family: "Poppins", "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }

  .confirm-password-popup .input1 {
    position: absolute;
    width: 250px;
    height: 48px;
    left: 535px;
    top: 125px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .confirm-password-popup .flex-container2 {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
  }

  .confirm-password-popup .password {
    position: absolute;
    width: 150px;
    height: 33px;
    left: 325px;
    top: 200px;
    font-family: "Poppins", "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
  
  .confirm-password-popup .input2 {
    position: absolute;
    width: 250px;
    height: 48px;
    left: 535px;
    top: 200px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .confirm-password-popup .flex-container3 {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
  }

  .confirm-password-popup .confirm-password {
    position: absolute;
    width: 200px;
    height: 0px;
    left: 315px;
    top: 275px;
    font-family: "Poppins", "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }

  .confirm-password-popup .input3 {
    position: absolute;
    width: 250px;
    height: 48px;
    left: 535px;
    top: 275px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  