.password-changed-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .password-changed-popup .person-icon {
    position: absolute;
    width: 173px;
    height: 173px;
    top: 100px;
  }
  
  .password-changed-popup .name {
    position: absolute;
    width: 234px;
    height: 53px;
    top: 250px;
    font-family: "Poppins", "Helvetica";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #2C8273;
  }

  .password-changed-popup .password-changed {
    position: absolute;
    width: 500px;
    height: 0px;
    left: 225px;
    top: 300px;
    font-family: "Poppins", "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: black;
  }
  