.manager-home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.manager-home .overlap {
    height: 832px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
}

.manager-home .rectangle {
    background-color: #dcf6f3;
    height: 778px;
    left: 303px;
    position: absolute;
    top: 52px;
    width: 976px;
}
  
.manager-home .rectangle-2 {
    background-color: #59afa0;
    height: 832px;
    left: 0;
    position: absolute;
    top: 0;
    width: 304px;
}

.manager-home .logo-rutan {
    height: 71px;
    left: 90px;
    position: absolute;
    top: 744px;
    width: 125px;
}
  
.manager-home .mask-group {
    height: 832px;
    left: 0;
    position: absolute;
    top: 0;
    width: 304px;
}

.manager-home .rectangle-3 {
    background-color: #59afa0;
    height: 54px;
    left: 304px;
    position: absolute;
    top: 0;
    width: 976px;
}

.manager-home .group {
    background-color: #fdc300;
    border-radius: 29.5px;
    height: 59px;
    left: 129px;
    position: absolute;
    top: 10px;
    width: 59px;
}

.manager-home .ruta-n {
    height: 28px;
    left: 13px;
    position: absolute;
    top: 15px;
    width: 34px;
}

.manager-home .rectangle-88 {
    position: absolute;
    width: 285px;
    height: 50px;
    left: 8px;
    top: 129px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
}
  
.manager-home .home {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 60px;
    letter-spacing: 0;
    line-height: 21.7px;
    position: absolute;
    top: 143px;
    white-space: nowrap;
}

.manager-home .home-miruta {
    height: 19px;
    left: 27px;
    position: absolute;
    top: 144px;
    width: 19px;
}

.manager-home .my-team {
    position: absolute;
    left: 4.84%;
    right: 88.91%;
    top: 25%;
    bottom: 72.36%;
    font-family: "Poppins", Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120.5%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.manager-home .team {
    position: absolute;
    width: 25px;
    height: 21px;
    left: 27px;
    top: 208px;
}

.manager-home .analytics {
    position: absolute;
    left: 4.53%;
    right: 87.89%;
    top: 32.69%;
    bottom: 64.66%;
    font-family: "Poppins", Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120.5%;
    text-transform: uppercase;
    color: #FFFFFF;
}
  
.manager-home .AnalyticsLogo {
    height: 20px;
    left: 27px;
    position: absolute;
    top: 271px;
    width: 18px;
}

.manager-home .overlap-2 {
    height: 20px;
    position: relative;
}
  
.manager-home .vector {
    height: 19px;
    left: 0;
    position: absolute;
    top: 0;
    width: 14px;
}
  
.manager-home .subtract {
    height: 11px;
    left: 7px;
    position: absolute;
    top: 9px;
    width: 11px;
}


.manager-home .switch-off {
    height: 23px;
    left: 1148px;
    position: absolute;
    top: 15px;
    width: 75px;
}
  
.manager-home .text-wrapper {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 55px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
}

.manager-home .text-wrapper-2 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1104px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
}

.manager-home .text-wrapper-3 {
    color: #59afa0;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 335px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 95px;
    width: 289px;
}


  