
/* Group 227 */

/* position: absolute;
width: 757px;
height: 569px;
left: 262px;
top: 131px; */



/* Rectangle 60 */

/* position: absolute;
left: 20.47%;
right: 20.39%;
top: 15.75%;
bottom: 15.87%;
background: #FFFFFF;
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
border-radius: 4px; */


/* Update Information */

/* position: absolute;
left: 38.91%;
right: 39.22%;
top: 19.59%;
bottom: 75.36%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
color: #2DB2A0; */



/* Path */

/* position: absolute;
left: 75.94%;
right: 22.03%;
top: 18.03%;
bottom: 78.85%;
background: #2DB2A0; */


/* Input */

/* position: absolute;
width: 347px;
height: 50px;
left: 583px;
top: 360px; */



/* Rectangle Copy 7 */

/* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
border: 1px solid #C0C0C0; */


/* Input text en fondo blanco */

/* position: absolute;
left: 5.63%;
right: 75.07%;
top: 29%;
bottom: 29%;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #3E3E3E;
opacity: 0.3; */


/* Input */
/* 
position: absolute;
width: 347px;
height: 50px;
left: 583px;
top: 425px; */



/* Rectangle Copy 7 */

/* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
border: 1px solid #C0C0C0; */


/* Input text en fondo blanco */

/* position: absolute;
left: 5.63%;
right: 79.39%;
top: 29%;
bottom: 29%;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #3E3E3E;
opacity: 0.3; */


/* Input */

/* position: absolute;
width: 347px;
height: 50px;
left: 583px;
top: 490px; */



/* Rectangle Copy 7 */

/* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
border: 1px solid #C0C0C0; */


/* Input text en fondo blanco */

/* position: absolute;
left: 5.63%;
right: 51.15%;
top: 29%;
bottom: 29%;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #3E3E3E;
opacity: 0.3; */


/* Rectangle Copy 5 */

/* position: absolute;
left: 45.55%;
right: 45.08%;
top: 27.4%;
bottom: 58.17%;
background: #FFFFFF;
border: 1.5px dashed #C0C0C0; */


/* Subir foto */

/* position: absolute;
left: 47.34%;
right: 46.88%;
top: 35.7%;
bottom: 61.78%;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #3E3E3E;
opacity: 0.3; */


/* Group 141 */

/* position: absolute;
width: 34px;
height: 34px;
left: 626px;
top: 254px; */



/* Vector */

/* position: absolute;
width: 34px;
height: 34px;
left: 626px;
top: 254px;
background: #C0C0C0; */


/* boton */

/* position: absolute;
width: 150px;
height: 50px;
left: 551px;
top: 589px; */



/* Rectangle Copy 3 */

/* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #2DB2A0; */


/* APLICAR */

/* position: absolute;
left: 30.83%;
right: 31.17%;
top: 32%;
bottom: 26%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #FFFFFF; */


