.administrator {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.administrator .overlap {
  height: 832px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.administrator .rectangle {
  background-color: #dcf6f3;
  height: 778px;
  left: 303px;
  position: absolute;
  top: 52px;
  width: 976px;
}

.administrator .rectangle-2 {
  background-color: #59afa0;
  height: 832px;
  left: 0;
  position: absolute;
  top: 0;
  width: 304px;
}

.administrator .logo-rutan {
  height: 71px;
  left: 90px;
  position: absolute;
  top: 744px;
  width: 125px;
}

.administrator .mask-group {
  height: 832px;
  left: 0;
  position: absolute;
  top: 0;
  width: 304px;
}

.administrator .rectangle-3 {
  background-color: #59afa0;
  height: 54px;
  left: 304px;
  position: absolute;
  top: 0;
  width: 976px;
}

.administrator .group {
  background-color: #fdc300;
  border-radius: 29.5px;
  height: 59px;
  left: 129px;
  position: absolute;
  top: 10px;
  width: 59px;
}

.administrator .ruta-n {
  height: 28px;
  left: 13px;
  position: absolute;
  top: 15px;
  width: 34px;
}

.administrator .home {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: 21.7px;
  position: absolute;
  top: 143px;
  white-space: nowrap;
}

.administrator .home-miruta {
  height: 19px;
  left: 27px;
  position: absolute;
  top: 144px;
  width: 19px;
}

.administrator .employee-management {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 59px;
  letter-spacing: 0;
  line-height: 21.7px;
  position: absolute;
  top: 204px;
  white-space: nowrap;
}

.administrator .EmployeeMgmtLogo {
  height: 18px;
  left: 27px;
  position: absolute;
  top: 207px;
  width: 18px;
}

.administrator .rectangle-5 {
  background-color: #2db2a0;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.administrator .rectangle-6 {
  background-color: #b7faf1;
  height: 6px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 8px;
}

.administrator .rectangle-7 {
  background-color: #2db2a0;
  height: 10px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 8px;
}

.administrator .rectangle-8 {
  background-color: #b7faf1;
  height: 7px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 8px;
}

.administrator .my-team {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 62px;
  letter-spacing: 0;
  line-height: 21.7px;
  position: absolute;
  top: 268px;
  white-space: nowrap;
}

.administrator .team {
  height: 21px;
  left: 27px;
  position: absolute;
  top: 269px;
  width: 25px;
}

.administrator .rectangle-88 {
  position: absolute;
  width: 285px;
  height: 50px;
  left: 11px;
  top: 318px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
}

.administrator .analytics {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 58px;
  letter-spacing: 0;
  line-height: 21.7px;
  position: absolute;
  top: 332px;
  white-space: nowrap;
}

.administrator .AnalyticsLogo {
  height: 20px;
  left: 27px;
  position: absolute;
  top: 334px;
  width: 18px;
}

.administrator .overlap-2 {
  height: 20px;
  position: relative;
}

.administrator .vector {
  height: 19px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.administrator .subtract {
  height: 11px;
  left: 7px;
  position: absolute;
  top: 9px;
  width: 11px;
}

.administrator .switch-off {
  height: 23px;
  left: 1148px;
  position: absolute;
  top: 15px;
  width: 75px;
}

.administrator .text-wrapper {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
}

.administrator .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.administrator .text-wrapper-3 {
  color: #59afa0;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 335px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 95px;
  width: 289px;
}